<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.iconframework.etaxapp" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>eTaxApp</name>
  <description>
    eTax
  </description>
  <author email="support@iconframework.com" href="http://www.iconframework.com/">
    Ionic Framework Team
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="local"/>
  <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser"/>
  </feature>
  <feature name="File">
    <param name="android-package" value="org.apache.cordova.file.FileUtils"/>
  </feature>
  <feature name="FileTransfer">
    <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer"/>
  </feature>
  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager"/>
  </feature>
</widget>