<ion-view view-title="Search">
    <ion-content>
        <div class="list">
            <a onclick="window.open('https://docs.google.com/gview?url=' + encodeURIComponent('http://203.151.94.214/eTax_api/api/render/payinhtml/d9d079b3648940f48234f755bd39bbb9') + '&embedded=true', '_blank', 'location=yes'); return false;" class="item">
            </a>
        </div>
        <!--<iframe scroll="true" overflow-scroll="true" zooming="true" src="plugin/pdfjs/web/viewer.html?file=http://203.151.94.214/eTax_api/api/render/payinhtml/d9d079b3648940f48234f755bd39bbb9"
                style="width:100%; height:100%; min-height:100%; position: absolute; background: #D1D1D1;" />-->
        <!--<iframe src="http://mozilla.github.io/pdf.js/web/viewer.html?file=http://203.151.94.214/eTax_api/api/render/payinhtml/d9d079b3648940f48234f755bd39bbb9"
                style="width:100%; height:100%; min-height:100%; position: absolute; background: #D1D1D1;" />-->
        <!--<iframe src="https://docs.google.com/gview?url=http://203.151.94.214/eTax_api/api/render/payinhtml/d9d079b3648940f48234f755bd39bbb9&embedded=true"
                style="width:100%; height:100%; min-height:100%; position: absolute; background: #D1D1D1;" frameborder="0"></iframe>-->
    </ion-content>
</ion-view>
